@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	font-family: 'Nanum Gothic'
}
a{
	color:#000000;
}
a:hover{
	color:#bbbbbb;
}

.navbar-brand{
	color: #ffffff;
}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding : 0;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
	
}
section{
	flex:1;
}
footer{
	background-color: #657584; color:#ffffff;
}
